* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: black;
}


/* ----- index ----- */
/* header */
#header {
    height: 120px;
    /* background-color: orange; */
}

#header li:hover {
    color: red;
    text-decoration: black underline;
    cursor: pointer;
}

#header ul {
    width: 1150px;
    margin: 0 auto;
    /* background-color: greenyellow; */
}

li.item {
    height: 53px;
    display: inline-block;
    margin: 67px 39px 0;
    /* background-color:green; */
}

li.logo {
    display:inline-block;
    margin: 33px 40px 0;
}

/* main picture */
#main_picture {
    height: 464px;
    background-image: url("/img/main.png");
    background-size: cover;
    /* background-color: blue; */
}

/* icon title */
#icon_title {
    text-align: center;
    padding: 30px 0;
    /* background-color: yellow; */
}

#icon_title>span:nth-child(1) {
    font-size: 10px;
    /* color:red; */
}

#icon_title>span:nth-child(2) {
    font-size: 20px;
    font-weight: bold;
    /* color:blue; */
}

/* icon box */
#icon_box {
    width: 1240px;
    padding: 10px 0;
    text-align: center;
    /* background-color: rgba(255, 0, 0, 0.284); */
}

#icon_box>p {
    width: 250px;
    height: 150px;
    /* float: left; */
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin: 10px 25px;

    border-bottom: dotted gray 2px;

    /* background-color: green; */
}

/* chefs */
#chefs {
    height: 304px;
    background-color: #ececec
}

#chefs>div.inner {
    width: 771px;
    height: 304px;
    /* background-color: tomato; */
    overflow:hidden;
}

div.inner>div.left {
    width:500px;
    height:200px;
    float:left;
    margin-top: 75px;
    /* display:inline-block;
    vertical-align: middle; */
    margin-right: 20px;
    /* background-color: cornflowerblue; */
}

div.inner>.imageholder {
    width: 241px;
    height: 304px;
    float:left;
    /* display:inline-block;
    vertical-align: middle; */
    background-image: url('./img/chef.png');
}

div.inner h2 {
    text-decoration: underline;
    line-height: 40px;
    /* color: red; */
}

div.inner p {
    line-height: 25px;
}



/* ----- about ----- */
#top {
    width: 1000px;
    height: 500px;
    margin-top: 30px;
    font-size: 0;
    /* background-color: green; */
}

#top>.left {
    width: 750px;
    height: 500px;
    display:inline-block;
    /* float: left; */
    background-image: url("/img/chef_about.png");
    /*margin collapse*/
    overflow:hidden;
}

.left>.leftbox {
    width:210px; height:210px;
    padding: 20px;
    display:inline-block;
    margin-top: 250px;
    background-color: #44742eb3;
    line-height: 20px;
    font-size: 18px;
}

#top>.right {
    width: 250px;
    height: 250px;
    display:inline-block;
    /* float: left; */
    /* background-color: aqua; */
}

.right>.right_item {
    width: 250px;
    height: 250px;
    /* background-color: pink; */
    /* border: solid green 1px; */
}



.box:nth-child(2n) {
    background-color: #d7864f;
    /* color:blue; */
}

.left span, .box span {
    font-weight: bold;
    font-size: larger;
    /* background:red; */
}

p>.title {
    font-size: 30px;
    /* background:yellow; */
}

.box>p {
    width: 210px;
    height: 210px;
    /* background-color: pink; */
}

.box {
    float: left;
    /* display:inline-block; */
    width: 210px;
    height: 210px;
    padding: 20px;
    
    background-color: #6c5f4f;
    font-size:medium;
    line-height: 18px;
}

#box_all {
    font-size:0;
    width: 1000px;
    height: 500px;
    background-color: skyblue;
}

#box_all>.box_left {
    width: 750px;
    height: 500px;
    margin-left: 0;
    float: left;
    /* display:inline-block; */
    background-color: white;
}

#box_all>.box_right {
    font-size:medium;
    width: 210px;
    height: 460px;
    padding: 20px;
    
    float: left;
    /* display:inline-block; */
    background-color: #d7ba8e;
}

#footer {
    width: 1000px;
    height: 32px;
    font-size:14px;
    padding-top:8px;
    background-color: #a9a9a9;
}

#footer>ul {
    width: 750px;
    height: 32px;
    margin-left: 40px;
    /* margin-top: 8px; */
    /* background-color: white; */
}

#footer li {
    /* float: left; */
    display:inline-block;
    margin-left: 10px;
    /* background-color:wheat; */
}

#footer li.divide:after {
    content: "|";
    margin-left: 10px;
    color: orange;
    font-weight: bold;
}
